@'
# Java
*.class
*.log

# Build outputs
build/
out/
target/
bin/
*.jar

# IDEs/Editors
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
'@ | Out-File -Encoding utf8 .\.gitignore

saves/
*.dat
*.ser
